logs
files
conf/key
conf/application-production.conf
conf/application-local-dev.conf
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.cache-main
/.cache-tests
/RUNNING_PID
/.settings
/bin/
